{% extends "base.html" %} 
<head>

{% block title %}Login{% endblock %} {% block content
%}
    <script src="https://kit.fontawesome.com/cf8e2afea6.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='/css/sign-up-page.css') }}">
    <div class="login-page">

        <div class="login-form">

            <h1>Log In Here</h1>

            <!--Login-Form-->
            <form id="login" method="post" class="input-group">

                <input type="email" name="email" class="input-file" placeholder="Enter user e-mail" required>

                <input type="password" name="password" class="input-file" placeholder="Enter Password" required>

                <button type="submit" class="submit-btn" id="login">Log in</button>
            </form>

        </div>

    </div>

{% endblock %}
